<footer class="page-footer">
    <div class="container center">
        <div class="row">
            <div class="col s12">
                
            </div>
            <div class="col s12">
                <ul class="footer-company-info">
                    <li>상호명 : 킹덤골프 스튜디오</li>
                    <li>사업자등록번호 : 555-55-55555</li>
                    <li>통신판매업신고번호 : 제2020-서울서초-1111호</li>
                </ul>
                <ul class="footer-company-info">
                    <li>대표자명 : 홍길동</li>
                    <li>개인정보관리 책임자 : 홍길동</li>
                    <li>E-MAIL : gildongHong@gmail.com</li>
                </ul>
            </div>
            <div class="col s12">
                <ul class="footer-company-addr">
                    <li>신사점: 서울시 강남대로 581</li>
                    <li>TEL: 02-511-5555</li>
                </ul>
                <ul class="footer-company-addr">
                    <li>신사점: 서울시 강남대로 581</li>
                    <li>TEL: 02-511-5555</li>
                </ul>
                <ul class="footer-company-addr">
                    <li>신사점: 서울시 강남대로 581</li>
                    <li>TEL: 02-511-5555</li>
                </ul>
            </div>
         </div>
    </div>
    <div class="footer-copyright">
        <div class="container center text-gray">
            Copyright © 2020 KINGDOM. All rights reserved.
        </div>
    </div>
</footer>