<%= javascript_include_tag 'navbar' %>
<div class="navbar-fixed">
<nav id="navbar-top" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo left">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">About KG</a></li>
            <li>
                <a href="/" class="dropdown-trigger" data-target="studio">STUDIO</a>
                <ul id="studio" class="dropdown-content">
                    <li><a href="/">Golf Studio</a></li>
                    <li><a href="/">P.T Studio</a></li>
                </ul>
            </li>
            <li><a href="/">TOUR</a></li>
            <li><a href="/">NEWS</a></li>
            <li>
                <a href="/" class="dropdown-trigger" data-target="guide">GUIDE</a>
                <ul id="guide" class="dropdown-content">
                    <li><a href="/">KINGDOM 이용가이드</a></li>
                    <li><a href="/">APP 이용가이드</a></li>
                </ul>
            </li>
            <li>
                <a href="/" class="dropdown-trigger" data-target="sns">SNS</a>
                <ul id="sns" class="dropdown-content">
                    <li><a href="/">Naver</a></li>
                    <li><a href="/">Kakao</a></li>
                    <li><a href="/">Insta</a></li>
                </ul>
            </li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="/">About KG</a></li>
            <li>
                <a href="/" class="dropdown-trigger-mobile" data-target="studio-mobile">STUDIO</a>
                <ul id="studio-mobile" class="dropdown-content dropdown-content-mobile">
                    <li><a href="/">Golf Studio</a></li>
                    <li><a href="/">P.T Studio</a></li>
                </ul>
            </li>
            <li><a href="/">TOUR</a></li>
            <li><a href="/">NEWS</a></li>
            <li>
                <a href="/" class="dropdown-trigger-mobile" data-target="guide-mobile">GUIDE</a>
                <ul id="guide-mobile" class="dropdown-content dropdown-content-mobile">
                    <li><a href="/">KINGDOM 이용가이드</a></li>
                    <li><a href="/">APP 이용가이드</a></li>
                </ul>
            </li>
            <li>
                <a href="/" class="dropdown-trigger-mobile" data-target="sns-mobile">SNS</a>
                <ul id="sns-mobile" class="dropdown-content dropdown-content-mobile">
                    <li><a href="/">Naver</a></li>
                    <li><a href="/">Kakao</a></li>
                    <li><a href="/">Insta</a></li>
                </ul>
            </li>
        </ul>
        <a href="/" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>